<% menu "contact" %>

<!-- features -->
<div id="contact" class="contact_page">
  <div class="container">
    <!-- header -->
    <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>Contact Us</span>
      <hr class="right visible-desktop">
    </h2>

    <div class="row map">
      <div class="span12">
        <div class="gmaps">
          <iframe style="width: 100%; height: 100%; border: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9395.41229388232!2d-0.8591670499999999!3d53.93435410000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487928469526f801%3A0x15e089c6057032b8!2sWilberfoss%2C+York%2C+East+Riding+of+Yorkshire+YO41+5PF!5e0!3m2!1sen!2suk!4v1406303252004" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>
        <br/>
        <!-- <h3>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        </h3> -->
      </div>
    </div>

    <div class="row form">
      <div class="span6 form-horizontal"> 
      <%= render :partial => "contact_form" %>
      </div>
      <div class="span5 offset1">
        <div class="address">
          <h3>Address</h3>
          <p>
            Heatherdean Cottage, Hull Road.
            <br> Wilberfoss, York, Y041 5PF
          </p>
          <div class="info">
            <i class="contact phone"></i>
            0798 4412879
          </div>
          <div class="info">
            <i class="contact email"></i>
            bikerman12@hotmail.com
          </div>
          <hr>
          <h3>Social media</h3>
          <div class="social">
            <a href="#"><i class="social tw"></i></a>
            <a href="#"><i class="social fb"></i></a>
            <a href="#"><i class="social flickr"></i></a>
            <a href="#"><i class="social in"></i></a>
            <a href="#"><i class="social gp"></i></a>
            <a href="#"><i class="social pin"></i></a>
            <a href="#"><i class="social tumblr"></i></a>
            <br>
            <a href="#"><i class="social wp"></i></a>
            <a href="#"><i class="social yt"></i></a>
            <a href="#"><i class="social vim"></i></a>
            <a href="#"><i class="social picasa"></i></a>
            <a href="#"><i class="social forrst"></i></a>
            <a href="#"><i class="social rss"></i></a>
            <a href="#"><i class="social myspace"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

