<link rel="stylesheet" type="text/css" href="assets/external-pages.css">
<!-- faq -->
<div id="faq" class="faq_page">
  <div class="container">
    <!-- header -->
    <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>FAQ</span>
      <hr class="right visible-desktop">
    </h2>

    <!-- list -->
    <div class="row">
      <div class="span12">
        <div class="faq">
          <div class="number">1</div>
          <div class="question">
            Do you really buy any bike ?
          </div>
          <div class="answer">
            Yes. We have bought bikes ranging from pristine super bikes to mangled scooters, from thousands of pounds down to tens, from someone's pride and joy to an abandoned
            cardboard box project stripped to the last nut and washer.
          </div>
        </div>
        <div class="faq">
          <div class="number">2</div>
          <div class="question">
            Do you buy every bike ?
          </div>
          <div class="answer">
            No. While we say "any bike" that does not mean every one! Sometimes a price cannot be agreed or we may already have several of one type in stock or like you we may
            not have funds. However we do take the majority of machines offered to us.
          </div>
        </div>
        <div class="faq">
          <div class="number">3</div>
          <div class="question">
            How do i get paid ?
          </div>
          <div class="answer">
            In cash after we check your bike is as you described it to us.
          </div>
        </div>
        <div class="faq">
          <div class="number">4</div>
          <div class="question">
            Do you run an HPI check on bikes offered ?
          </div>
          <div class="answer">
            Yes. Always. No exceptions. Ever.
          </div>
        </div>
        <div class="faq">
          <div class="number">5</div>
          <div class="question">
            Do you collect ?
          </div>
          <div class="answer">
            Yes. Direct from your door. Providing a hassle free, fast, professional and pleasant experience.
          </div>
        </div>
        <div class="faq">
          <div class="number">6</div>
          <div class="question">
           Which areas do you cover ?
          </div>
          <div class="answer">
           We collect nationwide. England, Scotland and Wales. London, Birmingham, Manchester, York, Darlington, Durham, Newcastle, Glasgow, in fact anywhere in
           mainland uk.
          </div>
        </div>
        <div class="faq">
          <div class="number">7</div>
          <div class="question">
           How long have do been trading ?
          </div>
          <div class="answer">
           We have been buying and selling bikes for over 20 years.
          </div>
        </div>
        <div class="faq">
          <div class="number">8</div>
          <div class="question">
          Do you sell motorcycles ?
          </div>
          <div class="answer">
          Yes. You will find some examples on this site. Call us for a specific requirement.
          </div>
        </div>
        <div class="faq">
          <div class="number">9</div>
          <div class="question">

          </div>
          <div class="answer">
           </div>
        </div>
        <div class="faq">
          <div class="number">10</div>
          <div class="question">

          </div>
          <div class="answer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

